.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 55px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  background-color: white;
}

.home-forthegram {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Dancing Script;
  text-decoration: none;
  background-color: white;
  justify-content: space-around;
}

.right-side-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  background-color: white;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}

.forthegram-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Dancing Script;
  text-decoration: none;
  background-color: white;
}

.forthegram-text:visited {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Dancing Script;
  text-decoration: none;
  color: black;
  background-color: white;
}

.logout-button {
  border: none;
  background-color: white;
  border: 1px solid black
}

.answer-button {
  border-radius: 20px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  background-color: white;
}

.post-modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  background-color: white;
}

.post-modal-submit {
  background-color: white;
  height: 25px;
  color: gray;
  background-color: light;
  border: 1px solid lightgray;
  margin-top: 30px;
  margin-bottom: 30px;
}

.upload-image-div {

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.post-textarea {
  resize: none;
}


.home-button {
  background-color: white;
  margin-right: 15px;
}

a.active {
  background-color: white;
}
